@model List<StudentExam.Model.Domain.QuestionDetails>

<div class="row">
    <div class="col-md-4">
        <h1>Question Details</h1>
    </div>
    <div class="col-md-8 text-end">
        <a href="@Url.Action("CreateQuestion", "StudentTest", new {CourseId=ViewBag.CourseID,TestId=ViewBag.TestId})" class="btn btn-success">Create Question</a>
    </div>
</div>
<form method="post" action="AddQuestion">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>question</th>
                <th>Option1</th>
                <th>Option2</th>
                <th>Option3</th>
                <th>Option4</th>
                <th>Answer</th>
                <th>Marks</th>
                <th>Action</th>
             
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
             
                <tr>
                    <td>@item.QuestionDescription</td>
                    <td>@item.Option1</td>
                    <td>@item.Option2</td>
                    <td>@item.Option3</td>
                    <td>@item.Option4</td>
                    <td>@item.CorrectAns</td>
                    <td>
                        <input type="number" name="Marks[@item.QuestionId]" min="1" max="100" step="1" value="1">
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" onclick="submitRow(@item.QuestionId)">Add</button>
                        
                        @*<button type="submit" class="btn btn-outline-primary" asp-action="DeleteQuestion">Delete</button>*@
                        <a href="@Url.Action("DeleteQuestion", "StudentTest", new { QuestionId = item.QuestionId,TestId=ViewBag.TestId })" class="btn btn-outline-primary">Delete</a>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" id="selectedRowId" name="SelectedRowId" value="">
    <input type="hidden" id="SelectTestId" name="SelectTestId" value="@ViewBag.TestId" />
</form>


<script>
    function submitRow(questionId) {
        document.getElementById('selectedRowId').value = questionId;
        document.getElementById('SelectTestId').value = @ViewBag.TestId
        document.forms[0].submit();
    }
</script>
